<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bumperbot">
    <xacro:property name="body_color" value="Gazebo/Silver" />
    <gazebo reference= "wheel_right_link">
        <material>${body_color}</material>
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>
    <gazebo reference= "wheel_left_link">
    <material>${body_color}</material>
        <mu1>100000000000000.0</mu1>
        <mu2>100000000000000.0</mu2>
        <kp>1000000000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir1>1 0 0</fdir1>
    </gazebo>
    <gazebo reference= "caster_front_link">
    <material>${body_color}</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>
    <gazebo reference= "caster_rear_link">
    <material>${body_color}</material>
        <mu1>0.1</mu1>
        <mu2>0.1</mu2>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
    </gazebo>
    <gazebo>
        <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <Parameters>$(find bumperbot_controller)/config/bumperbot_controller.yaml</Parameters>
        </plugin>
    </gazebo>

    
</robot>